In [8]:
food = [['apple', 'banana', 'pineapple'],
        ['potato', 'cabbage', 'cauliflower', 'brinjal'],
        ['wheat', 'oats', 'rice'],
        ['kidney beans', 'chickpeas', 'soybeans']]

In [9]:
food = {
    "fruits": ['apple', 'banana', 'pineapple'],
    "vegetables": ['potato', 'cabbage', 'cauliflower'],
    "grains": ['wheat', 'oats', 'rice'],
    "legumes": ['kidney beans', 'chickpeas', 'soybeans']
}

In [10]:
food[0]

KeyError: 0

In [37]:
import pandas as pd

meal = [['apple', 'potato', 'wheat', 'kidney beans'],
        ['apple', 'cabbage', 'rice', 'soybeans'],
        ['banana', 'cauliflower', 'rice', 'soybeans'],
        ['apple', 'potato', 'oats', 'chickpeas'],
        ['pineapple', 'eggplant', 'rice', 'soybeans'],
        ['banana', 'potato', 'wheat', 'kidney beans'],
        ['banana', 'eggplant', 'oats', 'chickpeas'],
        ['orange', 'french beans', None, 'chickpeas'],
        ['kiwi', None, 'ragi', None]]

df = pd.DataFrame(meal, columns=['fruits', 'vegetables', 'grains', 'legumes'])
df

      fruits    vegetables grains       legumes
0      apple        potato  wheat  kidney beans
1      apple       cabbage   rice      soybeans
2     banana   cauliflower   rice      soybeans
3      apple        potato   oats     chickpeas
4  pineapple      eggplant   rice      soybeans
5     banana        potato  wheat  kidney beans
6     banana      eggplant   oats     chickpeas
7     orange  french beans   None     chickpeas
8       kiwi          None   ragi          None

In [24]:
fruits_and_grains = df[['fruits', 'grains']]
print(type(fruits_and_grains))

<class 'pandas.core.frame.DataFrame'>

In [36]:
df.loc[1:5, ['vegetables', 'legumes']] = [[1],[2],[3],[4],[5]]

      fruits    vegetables grains       legumes
0      apple        potato  wheat  kidney beans
1      apple             1   rice             1
2     banana             2   rice             2
3      apple             3   oats             3
4  pineapple             4   rice             4
5     banana             5  wheat             5
6     banana      eggplant   oats     chickpeas
7     orange  french beans   None     chickpeas
8       kiwi          None   ragi          None

In [48]:
# df.loc[[False, False, False, True, False, True, True, False, False], ['vegetables', 'legumes']]
foo = df.loc[[False, False, False, True, False, True, True, False, False], 'vegetables']
print(type(foo))

<class 'pandas.core.series.Series'>

In [71]:
df.iloc[[False, False, False, True, False, True, True, False, False],:]

   fruits vegetables grains       legumes
3   apple     potato   oats     chickpeas
5  banana     potato  wheat  kidney beans
6  banana   eggplant   oats     chickpeas

In [77]:
condition = df['fruits'] == 'apple'
df.loc[condition.tolist(), :]

  fruits vegetables grains       legumes
0  apple     potato  wheat  kidney beans
1  apple    cabbage   rice      soybeans
3  apple     potato   oats     chickpeas

In [50]:
df.isna().agg(['sum', 'mean', 'max', 'min', 'count'])

      fruits vegetables    grains   legumes
sum        0          1         1         1
mean     0.0   0.111111  0.111111  0.111111
max    False       True      True      True
min    False      False     False     False
count      9          9         9         9