In [13]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('data.csv')
df.shape

(10000, 6)

In [4]:
df.drop(columns=['Unnamed: 4', 'Unnamed: 5'], inplace=True)

In [6]:
df['Recovery (%)'] = df['Recovery (%)'].str.replace('%', '').astype(float)
df.head()

,Customer No.,Exposure at Default (in lakh Rs.),Recovery (%),Probability of Default
0,1,11.50,20.00,0.0070
1,2,0.24,5.10,0.0033
2,3,0.04,24.86,0.0022
3,4,13.81,2.29,0.0066
4,5,19.84,3.47,0.0020

In [8]:
df['Exposure at Default (in lakh Rs.)'] = df['Exposure at Default (in lakh Rs.)'] * 100000
df.head()

,Customer No.,Exposure at Default (in lakh Rs.),Recovery (%),Probability of Default
0,1,1150000.0,20.00,0.0070
1,2,24000.0,5.10,0.0033
2,3,4000.0,24.86,0.0022
3,4,1381000.0,2.29,0.0066
4,5,1984000.0,3.47,0.0020

In [10]:
df['Loss if defaulted'] = df.apply(lambda x: x['Exposure at Default (in lakh Rs.)'] * (1.0 - x['Recovery (%)']/100.0), axis=1)
df.head()

,Customer No.,Exposure at Default (in lakh Rs.),Recovery (%),Probability of Default,Loss if defaulted
0,1,1150000.0,20.00,0.0070,920000.0
1,2,24000.0,5.10,0.0033,22776.0
2,3,4000.0,24.86,0.0022,3005.6
3,4,1381000.0,2.29,0.0066,1349375.1
4,5,1984000.0,3.47,0.0020,1915155.2

In [12]:
df['EV'] = df['Probability of Default'] * df['Loss if defaulted']
df['EV'].sum()/100000

493.3913144062

In [15]:
df = pd.read_csv('sampling.csv')
df.head()

   Sample No.  Sample Mean
0           1          3.2
1           2          2.6
2           3          2.8
3           4          2.0
4           5          3.0

In [16]:
df['Sample Mean'].mean()

2.3480000000000003

In [20]:
df['Sample Mean'].std(ddof=0)

0.4248482081873478

In [21]:
df = pd.read_csv('rent.csv')
df.shape

(200, 2)

In [22]:
df.head()

   S. No.  Monthly Rent
0       1         44000
1       2         49800
2       3         45400
3       4         40700
4       5         43900

In [26]:
mean = df['Monthly Rent'].mean()
mean

45571.0

In [41]:
std = df['Monthly Rent'].std()
std

7457.521851178448

In [46]:
import math
moe = 1.96*std/math.pow(200, 0.5)
moe

1033.5597972757666

In [47]:
# confidence interval
(mean - moe, mean + moe)

(44537.44020272423, 46604.55979727577)

In [53]:
import scipy.stats as stats

stats.norm.cdf(-1)

0.15865525393145707

In [52]:
format(round(0.60456,2), '.10g')

'0.6'

In [55]:
n = 15
prob = 1 - (2/(n-1))
print(format(prob, '.10g'))

0.8571428571