In [1]:
import pandas as pd
import scipy.stats as ss

In [2]:
df = pd.read_csv('unpaired-exhaust.csv')

In [3]:
df.head()

  Bike ID  Fuel Economy Batch
0      A1            43   BS4
1      A2            52   BS4
2      A3            58   BS4
3      A4            44   BS4
4      A5            48   BS4

In [4]:
df.tail()

   Bike ID  Fuel Economy Batch
43     B20            45   BS6
44     B21            54   BS6
45     B22            48   BS6
46     B23            62   BS6
47     B24            40   BS6

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Bike ID       48 non-null     object
 1   Fuel Economy  48 non-null     int64
 2   Batch         48 non-null     object
dtypes: int64(1), object(2)
memory usage: 1.2+ KB

In [6]:
df.nunique()

Bike ID         48
Fuel Economy    24
Batch            2
dtype: int64

In [7]:
df.shape

(48, 3)

In [8]:
bs4 = df[df['Batch'] == 'BS4']['Fuel Economy']
bs6 = df[df['Batch'] == 'BS6']['Fuel Economy']

In [9]:
print(bs4.mean())
print(bs6.mean())

52.916666666666664
51.375

* H0:mean(bs4)=mean(bs6)
* H1:mean(bs4)!=mean(bs6)
* Assuming Significance level of 5%

In [11]:
ss.ttest_ind(bs4, bs6, alternative='two-sided')

TtestResult(statistic=0.7087914510636509, pvalue=0.482030754068267, df=46.0)

* p-values > 0.05 --> fail to reject null hypothesis
* p-values <= 0.05 --> reject null hypothesis

##### Inferences
* as you can see the p-value (~0.48) is much higher than 0.05, and therefore the results are **not** statistically significant
* Hence, you can say that there is NO evidence to suggest that there is a difference in the Fuel Economy between the motorcycles of BS4 and BS6 class

In [12]:
# paired
df = pd.read_csv('paired_jump.csv')
df.head()

     Player  Jump before training  Jump after training
0  Player 1                    22                   24
1  Player 2                    20                   22
2  Player 3                    19                   19
3  Player 4                    24                   22
4  Player 5                    25                   28

In [13]:
print(df['Jump before training'].mean())
print(df['Jump after training'].mean())

22.72
23.8

The null hypothesis is that, on average, the jump height will be similar fo rboth before and after training program. our task is to determine, if there is enough statistical evidence to suggest otherwise

H0: Mean(Before Training) = Mean(After Training)
H1: Mean(Before Training) != Mean(After Training)

In [14]:
ss.ttest_rel(df['Jump before training'], df['Jump after training'], alternative='two-sided')

TtestResult(statistic=-3.2602767700386956, pvalue=0.0033180017066275855, df=24)

Inferences

* As you can see the p-value (0.0033) is much lesser than 0.05 and therefore the results are statistically significant
* Hence, you can say that there is enough evidence to suggest that there is a difference in the jump heights after the training program